# Exclude dynamic output folders and spreadsheet metrics
output/
scripts/output/
*.csv
*.png
*.pdf

# Exclude local R runtime tracking environments
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Ignore temporary JAGS files
singleUQ.txt

# Ignore local simulation data and graphics outputs
output/
combined_loggerhead_nests.csv
cc_safe_rep.csv
cc_dsll_interactions.csv